<table class="table table-hover">

    <thead>
        <tr>
            <th>CPF</th>
            <th>NOME</th>
            <th>TELEFONE</th>
            <th>EMAIL</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of candidatos">
            <td>{{c.cpf}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.telefone}}</td>
            <td>{{c.email}}</td>
            <td>
                <a routerLink="/candidatos/alteracao/{{c.cpf}}"><i class="bi bi-pencil"></i></a> | 
                <a routerLink="/candidatos/remocao/{{c.cpf}}"><i class="bi bi-trash"></i></a> |
                <a routerLink="/inscricoes/candidato/{{c.cpf}}"><i class="bi bi-eye"></i></a>
            </td>
        </tr>
    </tbody>
</table>
