<h3>Exemplo 03 - Diretiva ngFor e pipes</h3>

<div class="alert alert-primary">

    <div class="mb-3">
        <input #conteudo type="text" class="form-control" (keyup)="0" placeholder="Informe partes do texto" />
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pessoas | filtro:conteudo.value">
                <td>{{p.nome | uppercase | tamanho}}</td>
                <td>{{p.idade}}</td>
            </tr>
        </tbody>
    </table>
</div>
