<div class="row">
    <div class="col-6">
        <h2>Novo usuário</h2>
        <form>
            <div class="mb-3">
                <label class="form-label">Usuário</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="user.username"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Perfil</label>
                <select name="role" class="form-select" [(ngModel)]="user.role">
                    <option value="ADMIN">Administrador</option>
                    <option value="CLIENTE">Cliente</option>
                    <option value="CONVIDADO">Convidado</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary" (click)="incluir(user)">Login</button>
            </div>
            <div class="mt-3 alert alert-danger" *ngIf="erro">
                {{erro}}
            </div>
            <div class="mt-3 alert alert-success" *ngIf="sucesso">
                {{sucesso}}
            </div>            
        </form>
    </div>
</div>

